@use './lib/styles' as *;
@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: $font-size-body;
  font-family: $font-family-body, -apple-system, BlinkMacSystemFont, Tahoma, sans-serif;
  line-height: $line-height-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
